.form {
  align-self: stretch;
  display: flex;
}

.form-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: var(--clr-grey-10);
  padding: 0.75rem 1.5rem;
  color: var(--clr-grey-5);
  font-size: inherit;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.form-input::placeholder {
  color: var(--clr-grey-5);
}

.btn-blue {
  border: none;
  outline: none;
  width: 8rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0.75rem 0;
  letter-spacing: inherit;
  background-color: var(--clr-primary-8);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-blue:hover {
  color: #fff;
  background-color: var(--clr-primary-5);
}
