.message {
  align-self: stretch;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
  opacity: 0;
}

.success {
  opacity: 1;
  background-color: #d4edda;
  color: #155724;
}

.error {
  opacity: 1;
  background-color: #f8d7da;
  color: #721c24;
}
